{% extends "layout.html" %}

{%- block extrahead %}
<style type="text/css">
  img.icon {
    border: none;
  }
  a.pdf {
    margin-left: 0.5em;
  {%- if hide_pdf_links %}
    display: none;
  {%- endif %}
  }
</style>
{% endblock %}

{%- block sidebar2 %}
{% endblock %}

{% block body %}
<h1>{{ docstitle|e }}</h1>

{% block tables %}
<p>
  <strong>
    Manuals:
  </strong>
</p>

<table class="contentstable" align="center" cellspacing="20">

  <!-- Tutorial, and Constructions Document -->
  <tr valign="top">

    <td width="50%">
      <p class="biglink">
        <a class="biglink" href="tutorial/index.html">
          Tutorial
        </a>
        <a title="Download PDF" class="pdf" href="../../pdf/en/tutorial/SageTutorial.pdf">
          <img class="icon" src="_static/pdf.png"></img>
        </a>
        <br>
        <span class="linkdescr">
          This tutorial is the best way to become familiar with Sage
          in only a few hours.
        </span>
      </p>
    </td>

    <td width="50%">
      <p class="biglink">
        <a class="biglink" href="constructions/index.html">
          Constructions
        </a>
        <a title="Download PDF" class="pdf" href="../../pdf/en/constructions/constructions.pdf">
          <img class="icon" src="_static/pdf.png"></img>
        </a>
        <br>
        <span class="linkdescr">
          This document collects answers to some questions along
          the line "How do I construct ... in Sage?"
        </span>
      </p>
    </td>

  </tr>

  <!-- FAQs, and Thematic Tutorials -->
  <tr valign="top">

    <td width="50%">
      <p class="biglink">
        <a class="biglink" href="faq/index.html">
          FAQs
        </a>
        <a title="Download PDF" class="pdf" href="../../pdf/en/faq/faq.pdf">
          <img class="icon" src="_static/pdf.png"></img>
        </a>
        <br>
        <span class="linkdescr">
          A collection of frequently asked questions, together with
          answers to those questions. You are encouraged to read these
          FAQs before asking questions on one of many Sage mailing lists.
        </span>
      </p>
    </td>

    <td width="50%">
      <p class="biglink">
	<a class="biglink" href="thematic_tutorials/index.html">
	  Thematic Tutorials
	</a>
	<a title="Download PDF" class="pdf"
	   href="../../pdf/en/thematic_tutorials/thematic_tutorials.pdf">
	  <img class="icon" src="_static/pdf.png"></img>
	</a>
	<br>
	<span class="linkdescr">
	  A collection of in-depth tutorials on specific topics. These
	  thematic tutorials are designed to help you get started on
	  Sage functionalities relating to topics such as coding
	  theory, combinatorics, cryptography, functional programming,
	  group theory, linear programming, etc. If you feel
	  uncomfortable consulting the reference manual, you are
	  encouraged to browse through these thematic tutorials.
	</span>
      </p>
    </td>

  </tr>

  <!-- Developer's Guide, and Reference Manual -->
  <tr valign="top">

    <td width="50%">
      <p class="biglink">
        <a class="biglink" href="developer/index.html">
          Developer's Guide
        </a>
        <a title="Download PDF" class="pdf" href="../../pdf/en/developer/developer.pdf">
          <img class="icon" src="_static/pdf.png"></img>
        </a>
        <br>
        <span class="linkdescr">
          This document describes guidelines and policies regarding
          Sage development. It explains how to write programs using Sage,
          how to modify and extend the core Sage libraries, and how to
          modify Sage's documentation. It also discusses how to share
          your new and modified code with other Sage users.
        </span>
      </p>
    </td>

    <td width="50%">
      <p class="biglink">
        <a class="biglink" href="reference/index.html">
          Reference Manual
        </a>
        <a title="Download PDF" class="pdf" href="../../pdf/en/reference/reference.pdf">
          <img class="icon" src="_static/pdf.png"></img>
        </a>
        <br>
        <span class="linkdescr">
          This is the reference manual for the Sage mathematics
          software system. The reference manual contains many examples
          that illustrate the usage of Sage. It consists primarily of
          documentation that has been automatically generated from the
          Sage source code.  The examples are all tested with each
          release of Sage, and should produce exactly the same output
          as in this manual, except for line breaks.
        </span>
      </p>
    </td>

  </tr>

  <!-- PREP Tutorials -->
  <tr valign="top">

    <td width="50%">
      <p class="biglink">
        <a class="biglink" href="prep/index.html">
          PREP Tutorials
        </a>
        <a title="Download PDF" class="pdf" href="../../pdf/en/prep/prep_tutorial.pdf">
          <img class="icon" src="_static/pdf.png"></img>
        </a>
        <br>
        <span class="linkdescr">
          This set of tutorials takes the reader from very minimal
          computer background to a good understanding of basic
          undergraduate Sage functionality.  It includes several
          thematic "Quickstart" tutorials, and was originally
          developed as professional development material for the MAA.
        </span>
      </p>
    </td>

    <td width="50%">

    </td>


  </tr>



</table>

<p>
  <strong>
    Other Documents:
  </strong>
</p>

<table class="contentstable" align="center" cellspacing="20">

  <!-- A Tour of Sage, and Installation Guide -->
  <tr valign="top">

    <td width="50%">
      <p class="biglink">
        <a class="biglink" href="a_tour_of_sage/index.html">
          A Tour of Sage
        </a>
        <a title="Download PDF" class="pdf" href="../../pdf/en/a_tour_of_sage/a_tour_of_sage.pdf">
          <img class="icon" src="_static/pdf.png"></img>
        </a>
        <br>
        <span class="linkdescr">
          This is a tour of Sage that closely follows the tour of
          Mathematica that is at the beginning of the Mathematica
          Book.
        </span>
      </p>
    </td>

    <td width="50%">
      <p class="biglink">
        <a class="biglink" href="installation/index.html">
          Installation Guide
        </a>
        <a title="Download PDF" class="pdf" href="../../pdf/en/installation/installation.pdf">
          <img class="icon" src="_static/pdf.png"></img>
        </a>
        <br>
        <span class="linkdescr">
          A guide on how to install Sage. You can install a Sage
          source distribution or a binary distribution. Also covered
          are topics relating to a system-wide installation of Sage,
          and installing Sage for your own personal use.
        </span>
      </p>
    </td>

  </tr>

  <!-- Numerical Sage, and Bordeaux Lectures -->
  <tr valign="top">

    <td width="50%">
      <p class="biglink">
        <a class="biglink" href="numerical_sage/index.html">
          Numerical Sage
        </a>
        <a title="Download PDF" class="pdf" href="../../pdf/en/numerical_sage/numerical_sage.pdf">
          <img class="icon" src="_static/pdf.png"></img>
        </a>
        <br>
        <span class="linkdescr">
          This document is designed to introduce the reader to the
          tools in Sage that are useful for doing numerical
          computation.  It is currently a bit outdated, but work is
          being done to bring it up to date.
        </span>
      </p>
    </td>

    <td width="50%">
      <p class="biglink">
        <a class="biglink" href="bordeaux_2008/index.html">
          Three Lectures about Explicit Methods in Number Theory Using
          Sage
        </a>
        <a title="Download PDF" class="pdf" href="../../pdf/en/bordeaux_2008/bordeaux_2008.pdf">
          <img class="icon" src="_static/pdf.png"></img>
        </a>
        <br>
        <span class="linkdescr">
          This document is about using the mathematics software Sage
          to do computations with number fields and modular forms.  It
          assumes no prior knowledge about Sage, but assumes a
          graduate level background in algebraic number theory.
        </span>
      </p>
    </td>

  </tr>
</table>

{% endblock %}

{% endblock %}
